:root {
  --midnight: #08203A;
  --dark-blue: #133B6B;
  --blue: #758DA6;
  --light-blue: #A9B8C5;
}
body {
  margin: 0;
  font-size: 16px;
  background: #e6e5e6;
  font-family: sans-serif;
}
h1 {
  margin-top: 0;
}
.nav-container {
  position: absolute;
  top: 0;

}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }
.body-container {
  margin: 0 auto;
  max-width: 800px;
  background: white;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.sidebar {
  padding-right: 4rem;
}

.subbanner {
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}      
#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}
.service {
    padding: 1rem 2rem;
  }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: var(--blue);  */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--light-blue)), to(var(--blue)));
  background: -webkit-linear-gradient(var(--light-blue), var(--blue));
  background: -o-linear-gradient(var(--light-blue), var(--blue));
  background: linear-gradient(var(--light-blue), var(--blue));

}
.header h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 8rem;
  color: white;

}
img.main {
  width: 240px;
}

input {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  border: 1px solid var(--light-blue);
  font-size: 16px;
  height: 2rem;
}

input:focus {
  border-color: orange;
  outline: none;
}

label {
  padding: .5rem 0;
  font-size: 18px;
  display: block;
}

/*  form */
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  line-height: 1rem;
  color: white;
  background-color: var(--blue);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
  height: 2.5rem;
  text-transform: uppercase;
  max-width: 12rem;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .body-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    padding: 1rem;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  }
  .sidebar {
    padding: 0;
    text-align: center;
  }
  .header {
    display: block;
    text-align: center;
    padding: 1rem 1rem .25rem;
    font-size: .75rem;
  }
  .header h1 {
    margin-top: 0;  
  }
  .subbanner h1 {
    margin-top: 1rem;
    text-align: center;  
  }
  .subbanner {
    max-width: 500px;
    margin: 0 auto;
  }
}